// ==========================================
// SCSS VARIABLES (Static Colors)
// ==========================================
$c-white: #ffffff;
$c-dark: #202124;
$c-yellow: #f4e05d;
$c-blue: #3db2e3;
$c-orange: #f38c35;